<!DOCTYPE html>
<html>
<head>
    <title>Scanner</title>
    <script src="https://unpkg.com/html5-qrcode"></script>
</head>
<body>

<h1>Ship Scanner</h1>
<div id="reader" style="width: 350px;"></div>

<script>
    function onScanSuccess(decodedText, decodedResult) {
        alert("SCAN: " + decodedText);
        console.log(decodedResult);
    }

    const html5QrCode = new Html5Qrcode("reader");

    html5QrCode.start(
        { facingMode: "environment" },
        {
            fps: 10,
            qrbox: 250
        },
        onScanSuccess
    );
</script>

</body>
</html>
